<form [formGroup]="quizForm">
  <ng-container *ngFor="let question of questions; let index = index">
    <div class="pb-4" [innerHtml]="question.question"></div>
    <mat-radio-group
      class="flex gap-x-4 mb-8"
      [formControlName]="'question' + index"
    >
      <mat-radio-button
        class="
          button
          flex
          items-center
          justify-center
          cursor-pointer
          border border-gray-200
          rounded
          px-4
        "
        [appHighlightAnswer]="question"
        [ngClass]="{ 'bg-green-300': answers[index] === option }"
        [class]="
          isEvaluated
            ? question.choice === question.correct_answer
              ? 'bg-green-400'
              : 'bg-red-400'
            : ''
        "
        *ngFor="let option of question.options"
        [innerHtml]="option"
        [value]="option"
        [ngValue]="option"
        (click)="selectOption(option, index); question.choice = option"
      ></mat-radio-button>
    </mat-radio-group>
  </ng-container>
  <button
    *ngIf="isCompleted"
    type="button"
    [disabled]="isEvaluated"
    class="button px-8 rounded transition-colors bg-blue-100 hover:bg-blue-400"
    (click)="evaluateAnswers()"
  >
    Submit Quiz
  </button>
</form>
